@charset "gb2312";
/* CSS Document */
.ind #dl { /*定义左边区域*/
	float: left;
	width: 180px;
}

.ind #d2 { /*定义右边区域*/
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 180px;
}

.clear { /*清除左右布局*/
	clear: both;
	height: 0;
}

.ind #container { /*定义页面容器*/
	width: 780px;
	margin: 0 auto;
	padding: ;
}

body { /*重新定义页面主题的内外补丁*/
	margin: 0px;
	padding: 0px;
}