@charset "gb2312";
/* CSS Document */
#top { /*定义顶部区域*/
	height: 95px;
	width: 780px;
	padding-top: 0px;
	padding-rightt: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
}
#vai1 { /*定义导航栏1 */
	padding-rightt: 20px;
	padding-bottom: 8px;
}
#vai2 { /*定义导航栏1 */
	background-color: #FFEFCE;
	padding-right: 20px;
}
a:link { /*定义包含超链接的文字颜色*/
	color:#399;
}
a:active { /*定义超链接被激活的文字颜色*/
	color:#399;
}
a:visited { /*定义超链接被访问过的文字颜色*/
	color:#D6D6D6;
}
a:hover { /*定义超链接被指向的文字颜色*/
	color: #F93;
}