@charset "gb2312";
#app{/*定义整个页面的样式*/
width:780px;
margin:0 auto;
}
#top {/*定义顶部样式*/
height:60px;
width:780px;
}
#bt{/*定义标题样式*/
font-size:24px;
font-weight:bold;
color:#399;
height:40px;
background-color:#FFC;
vertical-align:middle;
text-align:center;
margin-top:10px;
padding-top:10px;
}
.nemulink{
font-size:14px;
color:#099;
width:780px;
margin-top:5px;
margin-bottom:5px;
background-color:#FFEFCE;
}
#bd{/*定义表单样式*/
font-size:14px;
color:#F30;
}
#bitem{/*定义连接样式*/
font-size:16px;
color:#900;
font-weight:bold;
}
.tdl{/*定义表单样式*/
font-size:14px;
color:#F60;
background-color:#FFC;
}
#err{/*定义反馈信息栏样式*/
height:20px;
font-size:14px;
color:#099;
background-color:#FFEFCE;
padding-top:10px;
}
#copyright:{/*定义底部版权信息样式*/
height:60px;
text-align:center;
font-size:14px;
line-height:150%
}
table {
margin:0px;
padding:0px;
width:780px;
}
form{
margin:0px;
padding:0px;
width:780px;
}
a:link{color:#399;}
a:visited{color:#906;}
a:hover{color:#F90;}
a:active{color:#099;}
hr{
width:780px;
line-height:150%;
}